{% extends 'base.html' %}
{% load static %}

{% block title_block %}
<title>NTHU Course - 錯誤</title>
{% endblock title_block %}

{% block body_block %}
<!-- Main -->
<div id="main">
  <div id="content" class="container">
    <section>
      <header>
        <h2>404 Not Found！</h2>
        <span class="byline">您偶然碰上程式的一場謬誤，如同湖水偶然遇見詩人的一片雲</span>
        <span class="byline">所以，請跟著我們<a href="/">重新開始</a></span>
      </header>
    </section>
  </div>
</div>
<!-- /Main -->
{% endblock body_block %}
