{% extends 'base.html' %}
{% load static %}
{% block title_block %}
<title>NTHU Course - Donate</title>
{% endblock title_block %}
{% block body_block %}
<!-- Main -->
<div id="main">
  <div id="content" class="container">
    <section>
      <header>
        <h2>贊助計畫</h2>
        <span class="byline">若覺得這計畫對您有幫助，歡迎贊助支持我們</span>
      </header>
      <p>我們是群熱血的工程師，雖然是學生的角色，但我們相信對周遭事物的改進，就是值得奮鬥的方向。</p>
      <p>在運行這個計畫的過程中，希望能透過貢獻與校園相關專案的本身來改善原本的學校系統，讓學生能更容易地取得資訊。因此，如果您覺得這樣的計畫是十分有意義與價值的，非常歡迎您願意且有能力的透過贊助來回饋本計畫。</p>
      <p>可以確保的是這些資金會拿來添購雞排和奶茶，讓我們在工作的夜晚中不孤單。</p>
    </section>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="JD2RMUDB3ERA2">
      <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal － 更安全、更簡單的線上付款方式！">
      <img alt="" border="0" src="https://www.paypalobjects.com/zh_TW/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
</div>
<!-- /Main -->
{% endblock body_block %}