{% extends 'base.html' %}
{% load static %}

{% block title_block %}
<title>NTHU Course - 招募新血</title>
{% endblock title_block %}

{% block body_block %}
<!-- Main -->
<div id="main">
  <div id="content" class="container">
    <section>
      <header>
        <h2>召喚更多新鮮的<del>肝</del>工程師</h2>
        <span class="byline">許願池中，許多未完成的功能正等著您的回應。</span>
        <span class="byline">所以，請與我們一同改變現況。</a></span>
        <span class="byline">目前熱烈招募兩種技術人才：UI 設計、<del>程序員鼓勵師</del></a></span>
        <span class="byline">歡迎加入開發團隊，您可以從底部的 email 與我們聯繫！</a></span>
      </header>
    </section>
  </div>
</div>
<!-- /Main -->
{% endblock body_block %}
