{% extends 'base.html' %}
{% load static %}

{% block title_block %}
<title>NTHU Course</title>
{% endblock title_block %}

{% block body_block %}
<div class="homepage">
  <!-- Featured -->
  <div id="featured">
    <div class="container">
      <header>
        <h2>隆重與您介紹嶄新的選課預排系統</h2>
        <span class="byline">&ldquo;在體驗過不友善的選課系統，為了改善不便，我們投入並專注在開發取代方案。&rdquo;</span>
      </header>
      <p>我們是一群熱血的工程師所組成的團隊。</p>
      <p>雖然目前的成員都是清華大學三年級，但是具有改善現有問題並革新不友善系統的慾望。</p>
      <p>這是本團隊的第一個作品，選課預排系統，有鑒於校務資訊系統的選課預排不只介面上不美觀，在操作上更是讓人直搖頭。</p>
      <p>因此，我們決心要改變這樣的系統，帶給大家更便利方便的服務。</p>
    </div>
  </div>
  <!-- Main -->
  <div id="main">
    <div id="content" class="container">
      <header>
        <h2>近況更新</h2>
      </header>
      <table class="table table-hover table-striped text-left">
        <tr>
          <th width="15%">發布時間</th>
          <th width="15%">資訊類型</th>
          <th width="70%">內容</th>
        </tr>
        {% for a in announcements %}
          <tr>
            <td>{{ a.time }}</td>
            <td>{{ a.get_tag_display }}</td>
            <td>{{ a.content|safe|linebreaks }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock body_block %}
