{% extends 'base.html' %}
{% load static %}

{% block title_block %}
<title>NTHU Course</title>
{% endblock title_block %}

{% block body_block %}
<div class="homepage">
  <!-- Main -->
  <div id="main">
    <div id="content" class="container">
      <header>
        <h2>近況更新</h2>
      </header>
      <table class="table table-hover table-striped text-left">
        <tr>
          <th width="15%">發布時間</th>
          <th width="15%">資訊類型</th>
          <th width="70%">內容</th>
        </tr>
        {% for a in announcements %}
          <tr>
            <td>{{ a.time }}</td>
            <td>{{ a.get_tag_display }}</td>
            <td>{{ a.content|safe|linebreaks }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock body_block %}
