{% extends 'base.html' %}
{% load static %}

{% block title_block %}
<title>NTHU Course - Privacy Policy</title>
{% endblock title_block %}

{% block body_block %}
<!-- Main -->
<div id="main">
  <div id="content" class="container">
    <section>
      <header>
        <h2><strong>Privacy Policy</strong></h2>
        <span class="byline"><strong>Last updated: May 22, 2015</strong></span>
        <span class="byline"><strong>NTHU Course</strong> ("us", "we", or "our") operates the <strong>nthu-course.cf</strong> website (the "Service").</span>
        <span class="byline">This page informs you of our policies regarding the collection, use and disclosure of Personal Information when you use our Service.</span>
        <span class="byline">We will not use or share your information with anyone except as described in this Privacy Policy.</span>
        <span class="byline">We use your Personal Information for providing and improving the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at nthu-course.cf</span>
        <span class="byline"><strong>Information Collection And Use</strong></span>
        <span class="byline">While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. </span>
        <span class="byline"><strong>Log Data</strong></span>
        <span class="byline">We collect information that your browser sends whenever you visit our Service ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages and other statistics.</span>
        <span class="byline"><strong>Cookies</strong></span>
        <span class="byline">Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.</span>
        <span class="byline">We use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.</span>
        <span class="byline"><strong>Children's Privacy</strong></span>
        <span class="byline">Our Service does not address anyone under the age of 13 ("Children").</span>
        <span class="byline">We do not knowingly collect personally identifiable information from children under 13. If you are a parent or guardian and you are aware that your Children has provided us with Personal Information, please contact us. If we discover that a Children under 13 has provided us with Personal Information, we will delete such information from our servers immediately.</span>

        <span class="byline"><strong>Changes To This Privacy Policy</strong></span>
        <span class="byline">We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</span>
        <span class="byline">You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</span>
        <span class="byline"><strong>Contact Us</strong></span>
        <span class="byline">If you have any questions about this Privacy Policy, please contact us.</span>
      </header>
    </section>
  </div>
</div>
<!-- /Main -->
{% endblock body_block %}
