{% extends 'base.html' %}
{% load static %}

{% block title_block %}
<title>NTHU Course - 許願池</title>
{% endblock title_block %}

{% block body_block %}
<!-- Main -->
<div id="main">
  <div class="container">
    <div class="row">
      <!-- Sidebar -->
      <div id="sidebar" class="4u">
        <section>
          <header>
            <h2>已經完成的開發</h2>
          </header>
          <div class="row">
            <section class="12u">
              <ul class="default">
                <li><a href="#issue-sync">1)同步更新課目資料</a></li>
                <li><a href="#issue-search">2)強大的搜尋功能</a></li>
                <li><a href="#issue-timeconflict">3)衝堂提醒</a></li>
              </ul>
            </section>
          </div>
          <header>
            <h2>進行中的開發</h2>
          </header>
          <div class="row">
            <section class="12u">
              <ul class="default">
                <li><a href="#issue-classblock">4)擋修提醒</a></li>
              </ul>
            </section>
          </div>
          <header>
            <h2>還在許願池的想法</h2>
          </header>
          <div class="row">
            <section class="12u">
              <ul class="default">
                <li><a href="#issue-score">5)歷年成績分布資訊</a></li>
                <li><a href="#issue-problem">6)歷年考古題資訊</a></li>
                <li><a href="#issue-youridea">7)等待您的提議（≧∇≦）</a></li>
              </ul>
            </section>
          </div>
        </section>
      </div>
      <!-- Content -->
      <div id="content" class="8u skel-cell-important">
        <section>
          <header>
            <h2>許願池</h2>
            <span class="byline">紀錄已完成、開發中、準備要做的想法集散地</span>
          </header>
          <header>
            <span class="byline"><a name="issue-sync"></a>1)同步更新課目資料</span>
          </header>
          <p>讓我們與校務資訊系統同步最新的課程，在有任何課程異動的情況下，即時的更新網站上的資料。</p>
          <header>
            <span class="byline"><a name="issue-search"></a>2)強大的搜尋功能</span>
          </header>
          <p>體驗過校務資訊系統難用的搜尋了嗎？我們推出課號搜尋、課目搜尋、時間搜尋甚至是通識查詢的強大功能。</p>
          <header>
            <span class="byline"><a name="issue-timeconflict"></a>3)衝堂提醒</span>
          </header>
          <p>總是到了選課時候才意外發現衝堂了嗎？本系統在預排階段就能對衝堂的課提出警示，幫助您提早預見風險。</p>
          <header>
            <span class="byline"><a name="issue-classblock"></a>4)擋修提醒</span>
          </header>
          <p>學校的擋修都必須點開來查詢，不夠直觀與好用，我們提供擋修提醒，在該科目有限制條件的情況下，在預排階段就給予通知。</p>
          <header>
            <span class="byline"><a name="issue-score"></a>5)歷年成績分布資訊</span>
          </header>
          <p>透過蒐集大量的成績資訊，提供使用者能提前知曉該門課的給分，幫助您規劃選課的抉擇。</p>
          <header>
            <span class="byline"><a name="issue-problem"></a>6)歷年考古題資訊</span>
          </header>
          <p>累積修課同學的過往經驗，幫助使用者能知曉以往的考試內容。</p>
          <header>
            <span class="byline"><a name="issue-youridea"></a>7)等待您的提議（≧∇≦）</span>
          </header>
          <p>您是否對選課系統也有很多的想法與抱負呢？趕快告訴我們或加入團隊吧！</p>
        </section>
      </div>
    </div>
  </div>
</div>
<!-- /Main -->
{% endblock body_block %}
