beautifulsoup4
Django
requests
django-autocomplete-light
Whoosh
git+https://github.com/hydai/django-haystack.git@nthu_course
git+https://github.com/coagulant/progressbar-python3.git
django-bootstrap-form
lxml
requests-futures
pillow
