beautifulsoup4==4.3.2
Django==1.7.4
progressbar==2.3
requests==2.5.3
django-autocomplete-light==2.0.9
Whoosh==2.7.0
git+https://github.com/henryyang42/django-haystack.git
django-bootstrap-form==3.2
lxml==3.4.4
python-social-auth==0.2.10
requests-futures
