<style>
.class1 {  background-color: #6699ff; font-size: 11pt; color: #ffffff; line-height: 2em}
.class2 {  background-color: #f0f0f0; font-size: 10pt; color: #333}
.class3 {  background-color: #ffffee; font-size: 10pt; color: #333; vertical-align: middle; text-align: center}
.class4 {  background-color: #ffffee; font-size: 14pt; color: #000099}
.center {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin: auto;
  padding: 15px;
}
.jumbotron {background-color: #fff}
.jumbotron table:nth-of-type(2),
.jumbotron table:nth-of-type(3),
.jumbotron table:nth-of-type(1) tbody tr:nth-child(3),
.jumbotron table:nth-of-type(1) tbody tr:nth-child(4) {display: none}
.jumbotron tr:nth-of-type(1) td {padding: 3px 25px}
.jumbotron table:nth-of-type(4) tr:nth-of-type(2) td {padding: 25px; padding-bottom: 0}
</style>

<div class="jumbotron center">
  <center><h2>{{ course.chi_title }}</h2><h4>{{ course.eng_title }}</h4></center>
  {{ course.syllabus|safe|escape }}
  <div class="">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
    var disqus_shortname = 'nthucourse',
        disqus_url = location.protocol + '//' + window.location.hostname + '{{ syllabus_path|safe|escape }}';
    (function() {
      var dsq = document.createElement('script');
      dsq.type = 'text/javascript';
      dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    var tr = $(".jumbotron table:nth-of-type(1) tbody"),
        td5 = tr.find("tr:nth-child(5)"),
        td6 = tr.find("tr:nth-child(6)"),
        tmp = td5.html();
    td5.html(td6.html());
    td6.html(tmp);
  })
</script>
