<div id="syllabus">
  <style>
  .class1 {  background-color: #6699ff; font-size: 11pt; color: #ffffff; text-align: center;}
  .class2 {  background-color: #f0f0f0; font-size: 10pt; color: #333; text-align: center;}
  .class3 {  background-color: #ffffee; font-size: 10pt; color: #333; vertical-align: middle; text-align: center}
  .class4 {  background-color: #ffffee; font-size: 14pt; color: #000099}
  .center {
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin: auto;
    padding: 15px;
  }
  .jumbotron {background-color: #fff}
  td.syllabus>* {margin: 10px;}
  td.syllabus>div {white-space: pre-line;}
  </style>

  <div class="jumbotron center">
    <center><h2>{{ course.chi_title }}</h2><h4>{{ course.eng_title }}</h4></center>
    <div>
      <table width="650">
        <tr class="class1">
          <td colspan="2">
            課程資訊
          </td>
        </tr>
        <tr>
          <td class="class2">科號</td>
          <td class="class3">{{ course.no }}</td>
        </tr>
        <tr>
          <td class="class2">時間</td>
          <td class="class3">{{ course.time }}</td>
        </tr>
        <tr>
          <td class="class2">任課教師</td>
          <td class="class3">{{ course.teacher }}</td>
        </tr>
        <tr>
          <td class="class2">教室</td>
          <td class="class3">{{ course.room }}</td>
        </tr>
        <tr>
          <td class="class2">人數限制</td>
          <td class="class3">{{ course.limit }}</td>
        </tr>
        <tr></tr><!--somebody please fix this LOL-->
        <tr class="class1">
          <td colspan="2">
            課程大綱
          </td>
        </tr>
        <tr>
          <td colspan="2" class="syllabus">
            {% if course.has_attachment %}
            <a class="btn btn-primary" target="_blank" href="{{ course.attachment_url }}">PDF</a>
            {% else %}
            <div>
              {{ course.syllabus }}
            </div>
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
    <div class="">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
      var disqus_shortname = 'nthucourse',
          disqus_url = location.protocol + '//' + window.location.hostname + '{{ syllabus_path|safe|escape }}';
      (function() {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
  </div>

  <script type="text/javascript">
    $(function() {
      var tr = $(".jumbotron table:nth-of-type(1) tbody"),
          td5 = tr.find("tr:nth-child(5)"),
          td6 = tr.find("tr:nth-child(6)"),
          tmp = td5.html();
      td5.html(td6.html());
      td6.html(tmp);
      $('#syllabus').find("*").addClass("mfp-prevent-close");
      $('.mfp-close').click(function() {$.magnificPopup.close()});
    })
  </script>
</div>
