@-webkit-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#result_table {
    -webkit-backface-visibility: hidden;  /* Chrome, Safari, Opera */
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.form-horizontal .control-label {
  text-align: left;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.table-btn {
  float: right;
  margin: 3px;
}

.table-text {
  margin: 3px;
}
.mfp-close {
  font-size: 35px;
  opacity: .8;
}
@media screen and (min-width: 768px) {
  .mfp-ajax-holder .mfp-content {
    width: 680px;
  }
  .mfp-prevent-close > table{
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .mfp-ajax-holder .mfp-content {
    width: 100%;
  }
  .mfp-prevent-close > table{
    width: 100%;
  }
}
.mfp-content {
  margin: 50px auto;
}
.jumbotron {
  border-radius: 10px;
  min-width: 100%;
}
#main {
  background: -webkit-linear-gradient(-30deg, #DDE8FF 10%, #FFFFFF 90%);
  /* Chrome 10+, Saf5.1+ */

  background: -moz-linear-gradient(-30deg, #DDE8FF 10%, #FFFFFF 90%);
  /* FF3.6+ */

  background: -ms-linear-gradient(-30deg, #DDE8FF 10%, #FFFFFF 90%);
  /* IE10 */

  background: -o-linear-gradient(-30deg, #DDE8FF 10%, #FFFFFF 90%);
  /* Opera 11.10+ */

  background: linear-gradient(-30deg, #DDE8FF 10%, #FFFFFF 90%);
  /* W3C */
}
