{% extends 'table_base.html' %} {% load static %} {% load bootstrap %}
{% block title_block %}
<title>NTHU Course - 選課預排系統</title>
{% endblock title_block %} {% block body_block %}
<!-- Main -->
<script type="text/javascript">
</script>
<div id="main">
  <div class="container">
    <form method="get" id="search-filter" class="form-horizontal">
      {{ search_filter.q|bootstrap_horizontal:"col-lg-1" }}
      {{ search_filter.code|bootstrap_horizontal:"col-lg-1" }}
      <div id="ge-option">
        {{ search_filter.ge|bootstrap_horizontal:"col-lg-1" }}
      </div>
      <div id="gec-option">
        {{ search_filter.gec|bootstrap_horizontal:"col-lg-1" }}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">搜尋</button>
      </div>
    </form>
    <div class="row">
      {% verbatim %}
      <table class="table table-bordered table-hover search-table">
        <thead>
          <tr>
            <td colspan="4">
              <center>
                <h4>
                  課程查詢結果<span ng-show="filtered.length>0"> (共{{ total_result }}筆)</span>
                  <span ng-hide="filtered.length>0"> (尚無查詢結果)</span>
                </h4>
                <div ng-show="total_result>0">
                  <pagination total-items="total_result" ng-model="currentPage" ng-change="pageChanged(currentPage)" class="pagination-sm" boundary-links="true" max-size="max_size" previous-text="上一頁" next-text="下一頁" first-text="第一頁" last-text="最尾頁"></pagination>
                </div>
              </center>
            </td>
          </tr>
          <tr ng-show="filtered.length>0">
            <th>課程名稱</th>
            <th>任課教師</th>
            <th>學分</th>
            <th>課程時間</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="course in filtered = (query | showQuery:added_course)">
            <td>{{ course.chi_title }}
              <br>{{ course.eng_title }}
              <br>{{ course.ge }}
            </td>
            <td>{{ course.teacher }}</td>
            <td>{{ course.credit }}</td>
            <td>{{ course.time }}
              <span ng-hide="free(course)" class="red"> (衝堂)</span>
              <span ng-show="course.added" class="blue"> (已選)</span>
              <a class="btn btn-primary table-btn" ng-hide="course.added" ng-click="add(course)">加選</a>
              <a class="btn btn-info table-btn ajax-popup-link" href="/search/syllabus/{{course.id}}">大綱</a>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-hover col-lg-8 col-offset-lg-2" id="course-table" style="border-style: solid; border-width: 2px;">
        <thead>
          <tr>
            <td colspan="7">
              <center>
                <h4>您的預排課表 {{ course_ct }} 門課共 <span ng-class="{true:'red', false:''}[ credit<16||credit>25 ]">{{ credit }}</span> 學分</h4>
              </center>
            </td>
          </tr>
          <tr>
            <th ng-repeat="col in '#MTWRFS' ">
              <center>{{ col }}</center>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in '1234n5678abc' ">
            <td>
              <center>{{ row }}</center>
            </td>
            <td ng-repeat="col in 'MTWRFS' ">
              <div ng-repeat="course in added_course | courseInThatTime:col+row " class="table-text">
                {{ course.chi_title }}
                <br> {{ course.room }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td colspan="4">
              <center>
                <h4>
                您選了 {{ course_ct }} 門課共 <span ng-class="{true:'red', false:''}[ credit<16||credit>25 ]">{{ credit }}</span> 學分
              </h4>
              </center>
            </td>
          </tr>
          <tr>
            <th>課程名稱</th>
            <th>任課教師</th>
            <th>學分</th>
            <th>課程時間</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="course in added_course">
            <td>
              {{ course.chi_title }}
              <br>{{ course.eng_title }}
            </td>
            <td>{{ course.teacher }}</td>
            <td>{{ course.credit }}</td>
            <td>{{ course.time }}
              <a class="btn btn-danger table-btn" ng-click="del(course)">退選</a>
              <a class="btn btn-info table-btn ajax-popup-link" href="/search/syllabus/{{course.id}}">大綱</a>
            </td>
          </tr>
        </tbody>
      </table>
      {% endverbatim %}
    </div>
  </div>
</div>
<!-- /Main -->
<script src="{% static 'js/postToFB.js' %}"></script>
{% endblock body_block %}
