{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block title_block %}
<title>NTHU Course - 選課預排系統</title>
{% endblock title_block %}

{% block source_block %}
<script src="//cdn.rawgit.com/niklasvh/html2canvas/master/dist/html2canvas.min.js"></script>
<script src="//cdn.rawgit.com/hydai/Canvas/master/base64binary.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular-cookies.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="{% static 'js/selectCourse.js' %}"></script>
<script src="{% static 'js/filter.js' %}"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<link rel="stylesheet" media="screen" href="{% static 'css/table.css' %}" />
<!-- Facebook
<script>
window.fbAsyncInit = function() {
  FB.init({
    appId: '348628832000015',
    xfbml: true,
    version: 'v2.3'
  });
};

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {
    return;
  }
  js = d.createElement(s);
  js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>-->
{% endblock source_block %}


{% block navbar_block %}
<!-- Header -->
<div id="header">
  <div id="nav-wrapper">
    <!-- Nav -->
    <nav id="nav">
      <ul>
        <li class="active"><a href="/">首頁</a></li>
        <li>
          <button id="twocolbtn" class="btn btn-info">切換單欄/兩欄式</button>
        </li>
        <li>
          <!--
          <button class="btn btn-primary" id="postToFB">透過 Facebook 分享課表</button>
          -->
          <button class="btn btn-primary" id="saveAsFile">輸出課表</button>
        </li>
        <li>
          <button class="btn btn-primary" onclick=window.open("http://goo.gl/forms/YGNZryl4o7")>意見回饋</button>
        </li>
        {% if user.is_authenticated %}
        <li>
          <a>Hello {{ user.get_full_name|default:user.username }}!</a>
        </li>
        <li>
          <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
  <div class="container">
    <!-- Logo -->
    <div id="logo">
      <a href="#">　</a>
    </div>
  </div>
</div>
{% endblock navbar_block %}

{% block body_block %}
<!-- Main -->
<div id="main" ng-app="ModuleNTHUCourse">
  <div class="container" ng-controller="CourseCtrl">
    <center><p></p></center>
    <div class="col-lg-12">
    <alert ng-show="alerts>0" close="closeAlert()">
      本系統並無與校務資訊系統接合，正式選課時請別忘記到校務資訊系統選課喔！<br>
      此外，因為課程資料課務組可能更動，我們每天至少更新一次，最終結果以課務組為準。
    </alert>
    <form method="get" id="search-filter" class="form-horizontal">
      {{ search_filter.q|bootstrap_horizontal:"col-lg-1" }}
      {{ search_filter.code|bootstrap_horizontal:"col-lg-1" }}
      <div id="ge-option">
        {{ search_filter.ge|bootstrap_horizontal:"col-lg-1" }}
      </div>
      <div id="gec-option">
        {{ search_filter.gec|bootstrap_horizontal:"col-lg-1" }}
      </div>
      <div id="dept-required-option">
        {{ search_filter.dept_required|bootstrap_horizontal:"col-lg-1" }}
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-info">清除條件</button>
        <button type="submit" class="btn btn-primary">　搜尋　</button>
      </div>
    </form>
    {% verbatim %}

    <table id="result-table" class="table table-bordered table-hover search-table">
      <thead>
        <tr>
          <td colspan="5">
            <center>
              <div>
                <h4>課程查詢結果</h4>
                <span ng-show="filtered.length>0"> (共{{ total_result }}筆<span ng-hide="fetch.type=='required'">，每
                  <div class="btn-group">
                    <label class="btn" ng-click="setPageSize(10)" ng-model="pageSizeModel" btn-radio="'10'">10</label>
                    <label class="btn" ng-click="setPageSize(20)" ng-model="pageSizeModel" btn-radio="'20'">20</label>
                    <label class="btn" ng-click="setPageSize(50)" ng-model="pageSizeModel" btn-radio="'50'">50</label>
                  </div>
                  筆顯示</span>)
                </span>
                <span ng-hide="filtered.length>0"> (尚無查詢結果)</span>
              </div>
              <div ng-show="total_result>0">
                <pagination total-items="total_result" ng-hide="fetch.type=='required'" items-per-page="page_size" ng-model="currentPage" ng-change="pageChanged(currentPage)" class="pagination-sm" boundary-links="true" max-size="max_size" previous-text="上一頁" next-text="下一頁" first-text="第一頁" last-text="最尾頁"></pagination>
              </div>
              <span ng-show="fetch.type=='required'&&!addAll_clicked"><a class="btn btn-danger table-btn" ng-click="addAll_clicked=true;add_all(filtered)">我全要了</a></span>
            </center>
          </td>
        </tr>
        <tr ng-show="filtered.length>0">
          <th ng-click="reverse=!reverse;predicate='no';order('no',reverse)" width="15%"><a class="sort_item">科號</a></th>
          <th ng-click="reverse=!reverse;predicate='chi_title';order('chi_title',reverse)" width="45%"><a class="sort_item">課程名稱</a></th>
          <th ng-click="reverse=!reverse;predicate='teacher';order('teacher',reverse)" width="10%"><a class="sort_item">任課教師</a></th>
          <th ng-click="reverse=!reverse;predicate='credit';order('credit',reverse)" width="5%"><a class="sort_item">學分</a></th>
          <th ng-click="reverse=!reverse;predicate='time_token';order('time_token',reverse)" width="25%"><a class="sort_item">課程時間</a></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="course in filtered = (query | showQuery:added_course)" title="{{ course.note}}">
          <td>{{ course.no }}</td>
          <td>{{ course.chi_title }}
            <br>{{ course.eng_title }}
            <br>{{ course.ge }}
          </td>
          <td>{{ course.teacher }}</td>
          <td>{{ course.credit }}</td>
          <td>{{ course.time }}
            <span ng-hide="free(course)" class="red"> (衝堂)</span>
            <span ng-show="course.added" class="blue"> (已選)</span>
            <a class="btn btn-primary table-btn" ng-hide="course.added" ng-click="add(course)">加選</a>
            <a class="btn btn-danger table-btn" ng-show="course.added" ng-click="del(course)">退選</a>
            <a class="btn btn-info table-btn ajax-popup-link" href="/search/syllabus/{{course.id}}">大綱</a>
          </td>
        </tr>
        <tr ng-show="filtered.length>0&&fetch.type!='required'">
          <td colspan="5">
            <center>
              <div ng-show="total_result>0">
                <pagination total-items="total_result" items-per-page="page_size" ng-model="currentPage" ng-change="pageChanged(currentPage)" class="pagination-sm" boundary-links="true" max-size="max_size" previous-text="上一頁" next-text="下一頁" first-text="第一頁" last-text="最尾頁"></pagination>
              </div>
            </center>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="col-lg-12">
    <table class="table table-bordered table-hover col-lg-8 col-offset-lg-2" id="course-table" style="border-style: solid; border-width: 1px;">
      <thead>
        <tr>
          <td colspan="7">
            <center>
              <h4>您的預排課表 {{ course_ct }} 門課共 <span ng-class="{true:'red', false:''}[ credit<16||credit>25 ]">{{ credit }}</span> 學分</h4>
            </center>
          </td>
        </tr>
        <tr>
          <th ng-repeat="col in '#MTWRFS' " width="14%">
            <center>{{ col }}</center>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in '1234n56789abc' ">
          <td>
            <center>{{ row }}</center>
          </td>
          <td ng-repeat="col in 'MTWRFS' ">
            <div ng-repeat="course in added_course | courseInThatTime:col+row " class="table-text">
              <a data-toggle="tooltip" title="{{course.teacher}}">
                {{ course.chi_title }}
                <br> {{ course.room }}
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered table-hover" id="selected-table">
      <thead>
        <tr>
          <td colspan="6">
            <center>
              <h4>
                您選了 {{ course_ct }} 門課共 <span ng-class="{true:'red', false:''}[ credit<16||credit>25 ]">{{ credit }}</span> 學分
                <a class="btn btn-danger table-btn" ng-click="del_all()">清空課表</a>
              </h4>
            </center>
          </td>
        </tr>
        <tr>
          <th width="15%">科號</th>
          <th width="35%">課程名稱</th>
          <th width="10%">任課教師</th>
          <th width="5%">學分</th>
          <th width="10">教室</th>
          <th width="25%">課程時間</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="course in added_course" title="{{ course.note}}">
          <td>{{ course.no }}</td>
          <td>
            {{ course.chi_title }}
            <br>{{ course.eng_title }}
          </td>
          <td>{{ course.teacher }}</td>
          <td>{{ course.credit }}</td>
          <td>{{ course.room }}</td>
          <td>{{ course.time }}
            <a class="btn btn-danger table-btn" ng-click="del(course)">退選</a>
            <a class="btn btn-info table-btn ajax-popup-link" href="/search/syllabus/{{course.id}}">大綱</a>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    {% endverbatim %}
  </div>
</div>
<!-- /Main -->
<!--<script src="{% static 'js/postToFB.js' %}"></script>-->
<script src="{% static 'js/saveAsFile.js' %}"></script>
{% endblock body_block %}

{% block footer_block %}
{% endblock footer_block %}
