{% extends 'table_base.html' %}
{% load static %}
{% block title_block %}
<title>NTHU Course - Todo List</title>
{% endblock title_block %} {% block include_block %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<style type="text/css">
.red {
  color: red;
}

.table-btn {
  float: right;
  margin: 3px;
}
.table-text {
  margin: 3px;
}

</style>
{% endblock include_block %} {% block body_block %}
<!-- Main -->
<script type="text/javascript">
</script>
<div id="main">
  <div class="container">
    <div class="row">
      {% verbatim %}
      <table class="table table-bordered table-hover search-table">
        <thead>
          <tr>
            <td colspan="3">
              <center>
                <h4>
                  課程查詢結果<span ng-show="filtered.length>0"> (共{{ total_result }}筆)</span>
                  <span ng-hide="filtered.length>0"> (尚無查詢結果)</span>
                </h4>
                <div ng-controller="PaginationCtrl">
                  <pagination total-items="total_result" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm" boundary-links="true"></pagination>
                </div>
              </center>
            </td>
          </tr>
          <tr>
            <th>課程名稱</th>
            <th>學分</th>
            <th>課程時間</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="course in filtered = (query | showQuery:added_course)">
            <td>{{ course.chi_title }}
              <br>{{ course.eng_title }}</td>
            <td>{{ course.credit }}</td>
            <td>{{ course.time }}<span ng-hide="free(course)" class="red"> (衝堂)</span>
              <a class="btn btn-primary table-btn" ng-click="add(course)">加選</a>
              <a class="btn btn-info table-btn ajax-popup-link" href="/search/syllabus/{{course.id}}">大綱</a>
            </td>
          </tr>
          <a id="moreCourses" href="#">下一頁</a>
        </tbody>
      </table>

      <table class="table table-bordered table-hover col-lg-8 col-offset-lg-2">
        <thead>
          <tr>
            <th ng-repeat="col in '#MTWRFS' ">
              <center>{{ col }}</center>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in '1234n5678abc' ">
            <td><center>{{ row }}</center></td>
            <td ng-repeat="col in 'MTWRFS' ">
              <div ng-repeat="course in added_course | courseInThatTime:col+row " class="table-text">
                {{ course.chi_title }}<br>
                {{ course.room }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td colspan="3">
              <center>
                <h4>
                您選了 {{ course_ct }} 門課共 <span ng-class="{true:'red', false:''}[ credit<16||credit>25 ]">{{ credit }}</span> 學分
              </h4>
              </center>
            </td>
          </tr>
          <tr>
            <th>課程名稱</th>
            <th>學分</th>
            <th>課程時間</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="course in added_course">
            <td>
              {{ course.chi_title }}
              <br>{{ course.eng_title }}
            </td>
            <td>{{ course.credit }}</td>
            <td>{{ course.time }}
              <a class="btn btn-danger table-btn" ng-click="del(course)">退選</a>
              <a class="btn btn-info table-btn ajax-popup-link" href="/search/syllabus/{{course.id}}">大綱</a>
            </td>
          </tr>
        </tbody>
      </table>
      {% endverbatim %}
    </div>
  </div>
</div>
<!-- /Main -->
{% endblock body_block %}
